<h2>Edit Person's details</h2>
<%= form_for @person do |f|%>
  <%= f.label :name%><br>
  <%= f.text_field :name, required: true %><br>
  <%= f.label :email%><br>
  <%= f.email_field :email, required: true%><br>
  <%= f.submit "Edit"%>
<%end%>