<h2> Add buttons to download csv file, pdf file </h2>
<button>
  <%= link_to "Download PDF", home_download_pdf_path(format: :pdf) %>
</button>
<button>
  <%= link_to "Download CSV", home_download_csv_path(format: :csv) %> 
</button>
<br>
<h2> Add button to fire email</h2>
<button>
  <%= link_to "Fire Email", home_send_email_path %> 
</button>
<br>
<h2>Link to the image gallery</h2>
<%= link_to "Image Gallery", images_path %>
<h2>Go to the Person Details page</h2>
<%= link_to "Person CRUD Operation", people_path %>